{
	frankenphp {
		num_threads 1
	}
	order php_server before file_server
}

:80 {
	root * /app/app/public

	@static path /fonts/* /img/* /dist/* *.css *.js *.ico
	header @static Cache-Control "public, max-age=31536000, immutable"
	@html not path /fonts/* /img/* /dist/* *.css *.js
	header @html Cache-Control "private, max-age=5"

	encode br zstd gzip
	php_server
}