<div class="articles-toggle">
    <ul class="nav nav-pills outline-active">
        <li class="nav-item">
            <a class="nav-link {$activeTab === 'my' ? 'active' : ''}" href="/profile/{$username}?tab=my">My Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {$activeTab === 'favorites' ? 'active' : ''}" href="/profile/{$username}?tab=favorites">Favorited Articles</a>
        </li>
    </ul>
</div>
